{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "array-includes",
    "syntax-async-functions",
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-object-assign",
    ["typecheck", {
      "only": ["enabled"]
    }],
    ["transform-runtime", {
        "polyfill": false,
        "regenerator": true
    }]
  ],
  "env": {
    "development": {
      "presets": [
        "power-assert"
      ]
    },
    "production": {
      "plugins": [
        "babel-plugin-unassert"
      ]
    }
  }
}
